# Compiled Python files
*.pyc

# Virtual environment
venv/
env/
ENV/
/.env

# PyCharm files
.idea/
*.iml
*.ipr
*.iws

# Dependency directories
__pycache__/
bin/
build/
dist/
*egg-info/
lib/
local/
node_modules/

key
